/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(242, 242, 242);
    padding: 10px;
    font-size: 16px;
}

footer {
    height: 42px;
    display: block;
    text-align: center;
    width: 100%;
}